body {
    background-color: gray;
}
h1 {
    text-align: center;
}
table, th, td {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height:70px;
    padding: 15px;
}
.form {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}